.banner{
   background: url('../../imagens/banner.jpeg') 27% no-repeat;
   background-size: cover;
   background-color: #333333;
   background-blend-mode: screen;
   height: 55vh;
   display: flex;
   justify-content: center;
   align-items: center;

}