@import '../abstract/variaveis';

#servicos{
   margin: 4vw auto;
   h3{
      font-size: $tamanho-texto;
      color: $cor-secundaria;
      text-align: center;
   }
   h4{
      text-align: center;
      margin-bottom: 1rem;
   }
   .cards{
      display: flex;
      justify-content: space-evenly;
      .card{
         width: 30%;
         text-align: center;
         .img-container{
            padding-bottom: 1vw;
            border-bottom: 4px solid $cor-secundaria;
            img{
               max-width: 100%;
            }
         }
         h5{
            font-size: $tamanho-texto;
            font-weight: 300;
            margin-bottom: .5em;
            color: $cor-primaria;
         }
         p{
            font-size: $tamanho-texto/1.5;
            font-weight: 300;
            line-height: 1.25;
         }
      }
   }
}